.container {
    background-color: #f3f3f4;
    padding-top: 30px;
}

.movieWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    padding-top: 24px;
}

.notFoundMovie {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.notFoundMovie p {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}

.pagination {
    margin: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 768px) {
    .movieWrapper {
        justify-content: center;
    }

    .container h1 {
        margin: 20px 0;
        font-size: 1.5rem;
        text-align: center;
        width: 100vw;
    }
}

@media screen and (max-width: 576px) {
    .container h1 {
        margin: 20px 0;
        font-size: 1.5rem;
        text-align: center;
        width: 100vw;
    }
}

@media screen and (max-width: 320px) {
    .container h1 {
        margin: 20px 0;
        font-size: 1.1rem;
        text-align: center;
        width: 100vw;
    }
}





