.linkBlock {
    padding: 16px;
    width: 482px;
    height: 218px;
    background-color: var(--white);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}


.linkWrapper {
    padding-right: 40px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    gap: 24px;
}

.image {
    width: 119px;
    height: 170px;
    object-fit: fill;
    margin: 0;
    padding: 0;
    display: block;
    vertical-align: middle;
}

.movieDescBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: self-start;
}

.movieTitle {
    padding-right: 30px;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    line-height: 24px;
    padding-bottom: 4px;
    color: var(--purple-main-500);
}

.movieYear {
    font-size: 16px;
    font-weight: 400;
    color: var(--grey-600);
    padding-bottom: 4px;
}

.ratingBlock {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2px;
}

.ratingBlock img {
    width: 28px;
    height: 28px;
}

.voteAverage {
    font-weight: 600;
    line-height: 20px;
}

.voteCount {
    font-weight: 400;
    color: var(--grey-600);
}

.genresDesc {
    color: var(--black);
    font-weight: 400;
}

.genres {
    font-weight: 400;
    color: var(--grey-600);
}

.starBlock {
    display: flex;
    align-items: center;
    gap: 4px;
    position: absolute;
    top: 0;
    right: 3%;
}

.myRating {
    font-weight: 600;
    line-height: 20px;
}

.popApp {
    font-size: 24px;
    cursor: pointer;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}


@media screen and (max-width: 576px) {
    .linkBlock {
        margin: 0 auto;
        width: 90%;
        height: fit-content;
    }

    .linkWrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .movieDescBlock {
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .movieDescBlock h2 {
        text-align: center;
        padding: 0;
    }

    .movieYear {
        text-align: center;
        margin: 10px 0;
    }

    .ratingBlock {
        justify-content: center;
    }

    .genresDesc {
        text-align: center;
    }

    .starBlock {
        gap: 0;
        right: 0;
    }

    .popApp {
        width: 90%;
    }
}

@media screen and (max-width: 320px) {
    .linkBlock {
        width: 90%;
        margin: 0 auto;
        height: fit-content;
    }

    .linkWrapper {
        padding: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .movieDescBlock {
        justify-content: center;
        align-items: center;
    }

    .movieDescBlock h2 {
        text-align: center;
    }

    .movieYear {
        text-align: center;
        margin: 10px 0;
    }

    .ratingBlock {
        justify-content: center;
        margin: 10px 0;
    }

    .genresDesc {
        text-align: center;
        margin: 10px 0;
    }

    .movieTitle {
        padding: 0;
    }

    .starBlock {
        gap: 0;
        right: 0;
    }

    .popApp {
        width: 90%;
    }
}
