.app {
    padding-right: 60px;
    display: grid;
    grid-template-areas:
        'h'
        'c';
    grid-template-columns: 280px auto;
    column-gap: 80px;
    background-color: #f3f3f4;
    width: 100%;
}