.app {
    padding-right: 60px;
    display: grid;
    grid-template-areas:
        'h'
        'c';
    grid-template-columns: 280px auto;
    column-gap: 80px;
    background-color: #f3f3f4;
    width: 100%;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 768px) {
    .app {
        grid-template-columns: auto;
        row-gap: 60px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 576px) {
    .app {
        grid-template-columns: auto;
        row-gap: 60px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 320px) {
    .app {
        grid-template-columns: auto;
        row-gap: 60px;
        padding-right: 10px;

    }
}